<h1>Editing file storage</h1>

<%= render "form", file_storage: @file_storage %>

<br>

<div>
  <%= link_to "Show this file storage", @file_storage %> |
  <%= link_to "Back to file storages", file_storages_path %>
</div>
